fastapi
uvicorn[standard]
pyyaml
python-multipart
aiohttp
semantic-kernel
openai
azure-identity
aiofiles
python-dotenv
requests
redis-server
redis
python-logstash
loguru
httpx
tenacity
pydantic
asyncpg
psycopg2
https
elasticsearch