fastapi
uvicorn[standard]
pyyaml
python-multipart
aiohttp
semantic-kernel
openai
azure-identity
aiofiles
python-dotenv
requests
redis
python-logstash
loguru
httpx
tenacity
pydantic
asyncpg
elasticsearch
aiomysql
semantic-kernel[mcp]
mcp-client
neo4j
